@import url(https://fonts.googleapis.com/css?family=Shojumaru);

.box {
    margin-top: 10px;
    //margin-bottom: 10px;
    margin-bottom: -30px;
}

.box-inner {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header {
    border: none;
    padding-top: 9px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 35px;
    min-height: 35px !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);

}

.box-header h2 {
    font-size: 15px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.box-header h3 {
    font-size: 13px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
}

.box-header h2 > i {
    margin-top: 1px;
}

.box-icon {
    float: right;
}

.box-icon a {
    clear: none;
    float: left;
    margin: 0 2px;
    height: 20px;
    width: 5px;
    margin-top: 1px;
}

.box-icon a i {
    margin-left: -6px;
    top: -1px;
}

.box-content {
    padding: 5px;
}

.btn-round {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    font-size: 12px;
    padding-top: 4px;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .box-icon {
        display: none;
    }

    .box-header h2 {
        font-size: 13px !important;
    }

    .box-header h3 {
        font-size: 11px !important;
    }

    .main-menu-span {
        width: 6.2% !important;
        margin-right: 4%;
    }

    .top-menu > li i {
        display: none;
    }

    .sidebar-nav li span {
        display: block !important;
    }

    .sidebar-nav li a, .sidebar-nav .nav-header {
        text-align: center
    }

    .sidebar-nav {
        padding: 0;
        margin-bottom: 0;
    }
}
